body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D8DEE9;
    color: #2E3440;
}

header {
    background-color: #3B4252;
    color: #ECEFF4;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main .chart {
    display: flex;
}

main p {
    font-size: 18px;
    line-height: 1.6;
}

table {
    background-color: #ECEFF4;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #3B4252;
}

th, td {
    padding: 15px;
    text-align: left;
}

footer {
    background-color: #3B4252;
    color: #ECEFF4;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

#add-patient-form {
    background-color: #ECEFF4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    width: 300px;
}

#add-patient-form label {
    display: block;
    margin-bottom: 10px;
}

#add-patient-form input[type="text"],
#add-patient-form input[type="date"],
#add-patient-form select {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #D8DEE9;
}

#add-patient-form input[type="submit"] {
    background-color: #3B4252;
    color: #ECEFF4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#add-patient-form input[type="submit"]:hover {
    transform: scale(1.01);
}
#add-patient-form input[type="submit"]:active {
    transform: scale(1);
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background-color: #D8DEE9;
    border: 1px solid #3B4252;
    border-radius: 8px;
    pointer-events: none;
}