<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <title>Patient Demographics Datavis</title>
    </head>

    <body>
        <header>
            <h1>Patient Demographics Datavis</h1>
        </header>
    
        <main>
            <div>
                <div id="chart"></div>
                <p>This page provides an outline of active (alive) patients' demographics. It is intended for use by healthcare data analysts to gain insights into the patient population.</p>
            </div>
        </main>
    
        <footer>
            <p>By Mohab Abdalgadir</p>
        </footer>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>